@charset "UTF-8";
/* колір фона заголовка */
/* header-border-color */
/* колір заголовка */
/* header-item a:hover */
/* посуті те саме header-text-color */
/* content-up-color */
/* button1  */
/* button1  */
/* button1-bg-color-hover */
/* services-item-h3 */
/* services-item-a */
/* Чим займаємось */
/* Наша команда */
/* Наша команда */
/* footer */
/* footer */
/* footer */
/* footer */
/* (Web)Studio footer */
/* Web(Studio) footer */
/* Web(Studio) header */
/* PORTFOLIO  */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* колір фона заголовка */
/* header-border-color */
/* колір заголовка */
/* header-item a:hover */
/* посуті те саме header-text-color */
/* content-up-color */
/* button1  */
/* button1  */
/* button1-bg-color-hover */
/* services-item-h3 */
/* services-item-a */
/* Чим займаємось */
/* Наша команда */
/* Наша команда */
/* footer */
/* footer */
/* footer */
/* footer */
/* (Web)Studio footer */
/* Web(Studio) footer */
/* Web(Studio) header */
/* PORTFOLIO  */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, p, ul, li, a, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.header {
  background-color: #fff;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: #ECECEC;
  /* border: 1px; */
  /* .header-item img{
    color: #757575;
    flex-shrink: 1;

  }
   */
  /* 
  .header-item svg:hover {
    fill:  var(--primary-color);
    --color4:  var(--primary-color);
  } */
  /* .overlay {
    position: absolute;
    margin-bottom: 30px;
    width: 0;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: width 0.3s ;

  } */
  /* Модальне вікно /////////////////////////////  */
}
.header .logo {
  margin-right: 93px;
  font-size: 24px;
  font-family: "Raleway";
}
.header .header-wrap {
  display: flex; /* робить контейнер гнучким */
  align-items: center; /* розміщує ПО ГОРИЗОНТАЛІ*/
}
.header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navigation > ul.header-list:first-of-type > li.header-item {
  padding-right: 50px;
  position: relative;
}
.header .navigation > ul.header-list:first-of-type > li.header-item::after {
  content: "";
  position: absolute;
  margin-left: 10px;
  bottom: -15.5px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #007bff;
  border-radius: 3px;
  transition: width 0.3s ease-in-out;
}
.header .navigation > ul.header-list:first-of-type > li.header-item:hover::after {
  width: 60%;
}
.header .header-list:last-of-type {
  margin-left: 215px;
  color: #757575;
}
.header .header-item {
  position: relative;
  display: flex;
  padding-bottom: 5px;
}
.header .header-item:hover .overlay {
  width: 100%;
  margin-top: 25px;
}
.header .header-list {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  list-style: none;
  /* padding: 0;
  margin: 0; */
}
.header .header-item a {
  color: #333;
  font-weight: 500;
  transition: color 0.5s ease;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 10px;
}
.header .header-item a:hover {
  color: #2196F3;
}
.header .contact-link svg {
  transition: fill 0.3s;
}
.header .contact-link:hover {
  color: #2196F3;
}
.header .contact-link:hover svg {
  fill: #2196F3;
  --color4: $primary-color;
}
.header .icon1 {
  width: 16px;
  height: 12px;
  margin-top: 15px;
}
.header .icon2 {
  width: 20px;
  height: 17px;
  top: 10px;
  margin-top: 12px;
}
.header .icon3 {
  width: 19px;
  height: 15px;
  padding-top: 5px;
}
.header .is-hidden {
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}
.header [data-modal] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.header .modal-content {
  position: relative;
  height: 600px;
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.header button[data-modal-close] {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  /* padding-top: 6px; */
  border-radius: 50%;
  width: 33px;
  height: 33px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  /* margin-left: 540px; */
  /* margin-bottom: 20px; */
}
.header .modal-content h2 {
  color: #212121;
  font-family: "Roboto";
  margin: 40px 40px 12px 40px;
}
.header .modal-form {
  margin-left: 40px;
}
.header #modal-name {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.header #modal-phone {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.header #modal-email {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.header #modal-comment {
  width: 448px;
  height: 120px;
}
.header .modal-form-checkboks {
  margin-left: 52px;
  margin-top: 32px;
}
.header .modal-button {
  margin-top: 30px;
  margin-left: 170px;
  width: 200px;
  height: 50px;
  background: #188CE8;
  border-radius: 4px;
  border: none;
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
}

/* колір фона заголовка */
/* header-border-color */
/* колір заголовка */
/* header-item a:hover */
/* посуті те саме header-text-color */
/* content-up-color */
/* button1  */
/* button1  */
/* button1-bg-color-hover */
/* services-item-h3 */
/* services-item-a */
/* Чим займаємось */
/* Наша команда */
/* Наша команда */
/* footer */
/* footer */
/* footer */
/* footer */
/* (Web)Studio footer */
/* Web(Studio) footer */
/* Web(Studio) header */
/* PORTFOLIO  */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* footer */
footer {
  background-color: #2F303A;
  color: white;
  padding: 20px 0;
  text-align: left;
}

.logo-footer {
  margin-left: 30px;
  margin-top: 40px;
  padding-right: 110px;
  font-size: 24px;
  font-family: "Raleway";
}

.footer-- i {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-left: 110px;
}

address {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
  width: 1200px;
}

address a {
  color: white;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

.address-a2 {
  color: gray;
}

address li {
  list-style: none;
  margin-bottom: 10px;
  margin-left: 25px;
  width: 231px;
  font-style: normal;
}

.blue {
  color: #007bff;
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway";
  line-height: normal;
  letter-spacing: 0.78px;
}

.white {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway";
  line-height: normal;
  letter-spacing: 0.78px;
}

.black {
  color: #000000;
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway";
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-social {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 825px;
}

.footer-a svg {
  width: 40px;
  height: 40px;
  transition: fill 0.3s ease;
  --color1: $footer-a-bg-color1;
  --color2: $footer-a-bg-color2;
  --color1: rgba(255, 255, 255, 0.10);
  --color2: #fff ;
  margin-left: 10px;
}

.footer-a svg:hover {
  --color1: #2196F3;
  --color2: #ffff ;
}

#intup-email {
  margin: 0px -785px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  height: 50px;
}

.bnt-intup-email {
  margin-left: 800px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 4px;
  /* width: 200px;
  height: 50px; */
  padding: 11px 20px;
  background: #2196F3;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
  color: #fff;
}

.bnt-intup-email img {
  padding-left: 10px;
}

.figures {
  margin-left: 300px;
  padding: 20px 25px;
}

.button-pt {
  background-color: #F5F4FA;
  color: #212121;
  border-radius: 4px;
  padding: 10px 27px;
  font-weight: 500;
  cursor: pointer;
  border: 0px;
}

.button-pt:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.my-shop {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /*dodalem */
  padding: 20px 0; /*dodalem */
}

.my-shop ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
}

.poster {
  position: relative;
  width: 370px;
  height: 404px;
  border: 1px solid #EEEEEE;
  margin: 2px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* flex-direction: column; */
  cursor: pointer;
  transition: transform 0.3 ease-in-out;
}

.poster-info {
  position: absolute;
  top: 0;
  bottom: 110px;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  opacity: 0;
  transition: transform 0.3 ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poster-info:hover {
  opacity: 1;
  padding-bottom: 50px;
}

.description {
  color: #ffffff;
}

.poster-info .description {
  color: #ffffff;
}

.poster:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.poster h3 {
  color: #212121;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20px;
}

.poster p {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin-left: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content-up {
  /* background-color: var(--content-up-bg-color); */
  background-image: url(/img/img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1600px;
  height: 600px;
  display: block;
  margin: 0 auto;
  color: white;
  padding: 180px 20px;
  text-align: center;
}
.content-up .content-up h2 {
  font-size: 44px;
}
.content-up .just-btn {
  background-color: #007BFF;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.content-up .just-btn:hover {
  background-color: #0056b3;
}

.services {
  margin-top: 94px;
  margin-bottom: 94px;
  /* .services-item > img{

    width: 70px;
    height: 70px;
    background-color: #F5F4FA;
    margin: 25px 100px 25px 100px;
    padding: 10px 10px 10px 10px ;
    border-radius: 2px; 
    display: inline-block;
  } */
  /* .services-item:nth-last-child(3n) {
    margin-right: 0;
  } */
}
.services .services-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.services .services-item {
  max-width: 350px;
  margin: 60px auto;
  position: relative;
  padding-top: 85px;
}
.services .services-item-h3 {
  color: #212121;
  font-size: 14px;
  line-height: 16.41px;
}
.services .services-item-a {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  padding-top: 10px;
}
.services p.services-item-a {
  width: 270px;
  height: 72px;
  flex-shrink: 0;
}
.services .services-item-icon {
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  bottom: 110px;
  padding-right: 30px;
}
.services .services-item-icon svg {
  width: 70px;
  height: 70px;
}

.foto {
  background-color: #ffffff;
  color: #212121;
  padding: 40px 20px;
  text-align: center;
}

.foto h1 {
  font-size: 36px;
}

.foto ul {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
  margin: 10px;
}

/* .foto-li-text{
position: absolute;
width: 370px;
background-color: rgba(0, 0, 0, 0.6); 
color: white;
padding: 10px;
font-size: 14px;
display: flex;
justify-content: center
} */
.flt1 {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: white;
  padding: 10px;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-top: 225px;
}

.flt2 {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: white;
  padding: 10px;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 405px;
  margin-top: 225px;
}

.flt3 {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: white;
  padding: 10px;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 810px;
  margin-top: 225px;
}

.my_teams {
  background-color: #F5F4FA;
  color: #212121;
  /* padding: 40px 20px; */
  text-align: center;
}

.my_teams h2 {
  font-size: 36px;
  padding-top: 94px;
}

.my_teams ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 50px;
}

.my-teams-social {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 30px;
}

.my-teams-social-a svg {
  /* background-color: var(--footer-a-bg) ; */
  width: 40px;
  height: 40px;
  /* border-radius: 50%;  */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.my-teams-social svg:hover {
  --color1: #2196F3;
  fill: white;
  width: 40px;
  height: 40px;
}

.my_teams li {
  margin: 10px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 94px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  height: 388px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.my_teams p {
  color: #757575;
  font-size: 16px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-icon:hover {
  width: 20px;
  height: 20px;
  --color4: $social-icon-hover-color4;
  --color2: $social-icon-hover-color2;
}

.clients {
  text-align: center;
  background-color: #FFF;
}

/* .clients- {
} */
.clients-menu {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.clients ul {
  display: flex;
}

.clients h2 {
  margin-top: 94px;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
}

.clients-li {
  width: 170px;
  height: 92px;
  flex-shrink: 0;
  margin-right: 30px;
  margin-bottom: 94px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 12px;
}

.clients-li a svg:hover {
  --color4:#2196F3;
}

.clients-li:hover {
  border-color: #2196F3;
}

.clients-icon {
  width: 106px;
  height: 60px;
}

/* PORTFOLIO */