@charset "UTF-8";
/* колір фона заголовка */
/* header-border-color */
/* колір заголовка */
/* header-item a:hover */
/* посуті те саме header-text-color */
/* content-up-color */
/* button1  */
/* button1  */
/* button1-bg-color-hover */
/* services-item-h3 */
/* services-item-a */
/* Чим займаємось */
/* Наша команда */
/* Наша команда */
/* footer */
/* footer */
/* footer */
/* footer */
/* (Web)Studio footer */
/* Web(Studio) footer */
/* Web(Studio) header */
/* PORTFOLIO  */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, p, ul, li, a, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--header-bg-color);
  color: var(--poster-p-color);
  font-size: 14px;
  line-height: 1.7;
}

.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.header {
  background-color: var(--header-bg-color);
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: var(--header-border-color);
  /* border: 1px; */
}

.logo {
  margin-right: 93px;
  font-size: 24px;
  font-family: "Raleway";
}

.header-wrap {
  display: flex; /* робить контейнер гнучким */
  align-items: center; /* розміщує ПО ГОРИЗОНТАЛІ*/
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation > ul.header-list:first-of-type > li.header-item {
  padding-right: 50px;
  position: relative;
}

.navigation > ul.header-list:first-of-type > li.header-item::after {
  content: "";
  position: absolute;
  margin-left: 10px;
  bottom: -15.5px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #007bff;
  border-radius: 3px;
  transition: width 0.3s ease-in-out;
}

.navigation > ul.header-list:first-of-type > li.header-item:hover::after {
  width: 60%;
}

.header-list:last-of-type {
  margin-left: 215px;
  color: var(--header-header-item-two-last);
}

.header-item {
  position: relative;
  display: flex;
  padding-bottom: 5px;
}

.header-item:hover .overlay {
  width: 100%;
  margin-top: 25px;
}

.header-list {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  list-style: none;
  /* padding: 0;
  margin: 0; */
}

.header-item a {
  color: var(--header-text-color);
  font-weight: 500;
  transition: color 0.5s ease;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 10px;
}

/* .header-item img{
  color: #757575;
  flex-shrink: 1;

}
 */
/* 
.header-item svg:hover {
  fill:  var(--primary-color);
  --color4:  var(--primary-color);
} */
.header-item a:hover {
  color: var(--primary-color);
}

.contact-link svg {
  transition: fill 0.3s;
}

.contact-link:hover {
  color: var(--primary-color);
}

.contact-link:hover svg {
  fill: var(--primary-color);
  --color4: var(--primary-color);
}

.icon1 {
  width: 16px;
  height: 12px;
  margin-top: 15px;
}

.icon2 {
  width: 20px;
  height: 17px;
  top: 10px;
  margin-top: 12px;
}

.icon3 {
  width: 19px;
  height: 15px;
  padding-top: 5px;
}

/* .overlay {
  position: absolute;
  margin-bottom: 30px;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background-color: var(--primary-color);
  transition: width 0.3s ;

} */
/* Модальне вікно /////////////////////////////  */
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

[data-modal] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  height: 600px;
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

button[data-modal-close] {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  /* padding-top: 6px; */
  border-radius: 50%;
  width: 33px;
  height: 33px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  /* margin-left: 540px; */
  /* margin-bottom: 20px; */
}

.modal-content h2 {
  color: #212121;
  font-family: "Roboto";
  margin: 40px 40px 12px 40px;
}

.modal-form {
  margin-left: 40px;
}

#modal-name {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

#modal-phone {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

#modal-email {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

#modal-comment {
  width: 448px;
  height: 120px;
}

.modal-form-checkboks {
  margin-left: 52px;
  margin-top: 32px;
}

.modal-button {
  margin-top: 30px;
  margin-left: 170px;
  width: 200px;
  height: 50px;
  background: #188CE8;
  border-radius: 4px;
  border: none;
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content-up {
  /* background-color: var(--content-up-bg-color); */
  background-image: url(/img/img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1600px;
  height: 600px;
  display: block;
  margin: 0 auto;
  color: var(--content-up-color);
  padding: 180px 20px;
  text-align: center;
}

.content-up h2 {
  font-size: 44px;
}

.just-btn {
  background-color: var(--button1-bg-color);
  color: var(--button1--color);
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.just-btn:hover {
  background-color: var(--button1-bg-color-hover);
}

/* Особливості  */
.services {
  margin-top: 94px;
  margin-bottom: 94px;
}

.services-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.services-item {
  max-width: 350px;
  margin: 60px auto;
  position: relative;
  padding-top: 85PX;
}

.services-item-h3 {
  color: var(--services-item-h3-color);
  font-size: 14px;
  line-height: 16.41px;
}

.services-item-a {
  color: var(--services-item-a-color);
  font-size: 14px;
  line-height: 24px;
  padding-top: 10px;
}

p.services-item-a {
  width: 270px;
  height: 72px;
  flex-shrink: 0;
}

.services-item-icon {
  background-color: var(--services-item-icon-color);
  width: 270px;
  height: 120px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  bottom: 110px;
  padding-right: 30px;
}

.services-item-icon svg {
  width: 70px;
  height: 70px;
}

/* .services-item > img{

  width: 70px;
  height: 70px;
  background-color: #F5F4FA;
  margin: 25px 100px 25px 100px;
  padding: 10px 10px 10px 10px ;
  border-radius: 2px; 
  display: inline-block;
} */
/* .services-item:nth-last-child(3n) {
  margin-right: 0;
} */
/* Чим займаємось  */
.foto {
  background-color: var(--foto-bg-color);
  color: var(--foto-color);
  padding: 40px 20px;
  text-align: center;
}

.foto h1 {
  font-size: 36px;
}

.foto ul {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
  margin: 10px;
}

/* .foto-li-text{
position: absolute;
width: 370px;
background-color: rgba(0, 0, 0, 0.6); 
color: white;
padding: 10px;
font-size: 14px;
display: flex;
justify-content: center
} */
.flt1 {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: var(--fit1-bg);
  color: var(--fit1);
  padding: 10px;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-top: 225px;
}

.flt2 {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: var(--fit2-bg);
  color: var(--fit2);
  padding: 10px;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 405px;
  margin-top: 225px;
}

.flt3 {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: var(--fit3-bg);
  color: var(--fit3);
  padding: 10px;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 810px;
  margin-top: 225px;
}

/* Наша комaнда */
.my_teams {
  background-color: var(--my_teams-bg-color);
  color: var(--my_team-color);
  /* padding: 40px 20px; */
  text-align: center;
}

.my_teams h2 {
  font-size: 36px;
  padding-top: 94px;
}

.my_teams ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 50px;
}

.my-teams-social {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 30px;
}

.my-teams-social-a svg {
  /* background-color: var(--footer-a-bg) ; */
  width: 40px;
  height: 40px;
  /* border-radius: 50%;  */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.my-teams-social svg:hover {
  --color1: var(--footer-social-a-hover-img) ;
  width: 40px;
  height: 40px;
  fill: var(--my-teams-social-svg-hover-fill);
}

.my_teams li {
  margin: 10px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 94px;
  border-radius: 0px 0px 4px 4px;
  background: var(--my_teams-li-color);
  height: 388px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.my_teams p {
  color: var(--my_teams-p-color);
  font-size: 16px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-icon:hover {
  width: 20px;
  height: 20px;
  --color4: var(--social-icon-hover-color4) ;
  --color2:var(--social-icon-hover-color2);
}

/* Постійні клієнти */
.clients {
  text-align: center;
  background-color: var(--clients-bg-color);
}

/* .clients- {
} */
.clients-menu {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.clients ul {
  display: flex;
}

.clients h2 {
  margin-top: 94px;
  margin-bottom: 50px;
  color: var(--clients-h2-color);
  font-size: 36px;
}

.clients-li {
  width: 170px;
  height: 92px;
  flex-shrink: 0;
  margin-right: 30px;
  margin-bottom: 94px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding-top: 12px;
}

.clients-li a svg:hover {
  --color4:var(--color-clients-li-a-svg);
}

.clients-li:hover {
  border-color: var(--color-clients-li-a-svg);
}

.clients-icon {
  width: 106px;
  height: 60px;
}

/* footer */
footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-color);
  padding: 20px 0;
  text-align: left;
}

.logo-footer {
  margin-left: 30px;
  margin-top: 40px;
  padding-right: 110px;
  font-size: 24px;
  font-family: "Raleway";
}

.footer-- i {
  color: var(--footer--i);
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-left: 110px;
}

address {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
  width: 1200px;
}

address a {
  color: var(--address-a-color);
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

.address-a2 {
  color: var(--address-a2-color);
}

address li {
  list-style: none;
  margin-bottom: 10px;
  margin-left: 25px;
  width: 231px;
  font-style: normal;
}

.blue {
  color: var(--blue-color);
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway";
  line-height: normal;
  letter-spacing: 0.78px;
}

.white {
  color: var(--white-color);
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway";
  line-height: normal;
  letter-spacing: 0.78px;
}

.black {
  color: var(--black-color);
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway";
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-social {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 825px;
}

.footer-a svg:hover {
  --color1:var(--footer-social-a-hover-img);
}

.footer-a svg {
  width: 40px;
  height: 40px;
  fill: var(--footer-a-bg-color1);
  transition: fill 0.3s ease;
  --color1: var(--footer-a-bg-color1);
  --color2: var(--footer-a-bg-color2);
  margin-left: 10px;
}

/* .footer-a:hover svg {
  fill:rgba(255, 255, 255, 0.10);
} */
#intup-email {
  margin: 0px -785px;
  background-color: var(--bg-intup-email);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  height: 50px;
}

.bnt-intup-email {
  margin-left: 800px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 4px;
  /* width: 200px;
  height: 50px; */
  padding: 11px 20px;
  background: var(--bg-bnt-intup-email);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
  color: var(--bnt-intup-email-color);
}

.bnt-intup-email img {
  padding-left: 10px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  --color4: var(--footer-icon--color4);
}

/* PORTFOLIO */
.figures {
  margin-left: 300px;
  padding: 20px 25px;
}

.button-pt {
  background-color: var(--button-pt-bg-color);
  color: var(--button-pt-color);
  border-radius: 4px;
  padding: 10px 27px;
  font-weight: 500;
  cursor: pointer;
  border: 0px;
}

.button-pt:hover {
  background-color: var(--button-pt-hover-bg-color);
  color: var(--button-pt-hover-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.my-shop {
  background-color: var(--my-shop-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /*dodalem */
  padding: 20px 0; /*dodalem */
}

.my-shop ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
}

.poster {
  position: relative;
  width: 370px;
  height: 404px;
  border: 1px solid var(--poster-border);
  margin: 2px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* flex-direction: column; */
  cursor: pointer;
  transition: transform 0.3 ease-in-out;
}

.poster-info {
  position: absolute;
  top: 0;
  bottom: 110px;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  opacity: 0;
  transition: transform 0.3 ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poster-info:hover {
  opacity: 1;
  padding-bottom: 50px;
}

.description {
  color: #ffffff;
}

.poster-info .description {
  color: #ffffff;
}

.poster:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.poster h3 {
  color: var(--poster-h3);
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20px;
}

.poster p {
  color: var(--poster-p-color);
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin-left: 20px;
}