@import "./utils/_colors.scss"; 
@import "./components/_header.scss"; 
@import "./components/_footer.scss"; 
@import "./portfolio/_portfolio.scss"; 
*,
*::before,
*::after {
  box-sizing: border-box;
}

//main//

.content-up {
  /* background-color: var(--content-up-bg-color); */
  background-image: url(/img/img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1600px;
  height: 600px;
  display: block;
  margin: 0 auto;

  color: $content-up-color;
  padding: 180px 20px;
  text-align: center;

  .content-up h2 {
    font-size: 44px;
  }

.just-btn {
  background-color:  $button1-bg-color;
  color: $button1-color;
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.just-btn:hover {
  background-color:  $button1-bg-color-hover;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
// ----------------------------Особливості-----------------------------------------

.services {
  margin-top: 94px;
  margin-bottom: 94px;

.services-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.services-item {
  max-width: 350px;
  margin: 60px auto;
  position: relative;
  padding-top: 85px;
}

.services-item-h3 {
  color: $services-item-h3-color;
  font-size: 14px;
  line-height: 16.41px;
}
.services-item-a {
  color: $services-item-a-color;
  font-size: 14px;
  line-height: 24px;
  padding-top: 10px;
}

p.services-item-a {
  width: 270px;
  height: 72px;
  flex-shrink: 0;
}
.services-item-icon {
  background-color: $services-item-icon-color;
  width: 270px;
  height: 120px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;

  bottom: 110px;
  padding-right: 30px;
}
.services-item-icon svg {
  width: 70px;
  height: 70px;
}

/* .services-item > img{
  
  width: 70px;
  height: 70px;
  background-color: #F5F4FA;
  margin: 25px 100px 25px 100px;
  padding: 10px 10px 10px 10px ;
  border-radius: 2px; 
  display: inline-block;
} */
/* .services-item:nth-last-child(3n) {
  margin-right: 0;
} */
}

// ---------------------------- Чим займаємось-------------------------------------

.foto {
  background-color: $foto-bg-color;
  color: $foto-color;
  padding: 40px 20px;
  text-align: center;
}
.foto h1 {
  font-size: 36px;
}
.foto ul {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
  margin: 10px;
}

/* .foto-li-text{
position: absolute;
width: 370px;
background-color: rgba(0, 0, 0, 0.6); 
color: white;
padding: 10px;
font-size: 14px;
display: flex;
justify-content: center
} */
.flt1 {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: $fit1-bg;
  color: $fit1;
  padding: 10px;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-top: 225px;
}

.flt2 {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: $fit2-bg;
  color:$fit2;
  padding: 10px;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 405px;
  margin-top: 225px;
}
.flt3 {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: $fit3-bg;
  color: $fit3;
  padding: 10px;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 810px;
  margin-top: 225px;
}

// ----------------------------Наша комaнда----------------------------
.my_teams {
  background-color: $my_teams-bg-color;
  color: $my_team-color;
  /* padding: 40px 20px; */
  text-align: center;
}
.my_teams h2 {
  font-size: 36px;
  padding-top: 94px;
}
.my_teams ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 50px;
}
.my-teams-social {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 30px;
}
.my-teams-social-a svg {
  /* background-color: var(--footer-a-bg) ; */
  width: 40px;
  height: 40px;
  /* border-radius: 50%;  */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  fill: #ffff;
  // fill: $my-teams-social-svg-hover-color1;

  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.my-teams-social svg:hover {
  //  --color1: $my-teams-social-svg-hover-color2;
   --color1: #2196F3;
  // --color2: #ffff ;
  fill: $my-teams-social-svg-hover-color1;
  width: 40px;
  height: 40px;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my_teams li {
  margin: 10px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 94px;

  border-radius: 0px 0px 4px 4px;
  background: $my_teams-li-color;
  height: 388px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.my_teams p {
  color: $my_teams-p-color;
  font-size: 16px;
}
.social-icon {
  width: 20px;
  height: 20px;
}
.social-icon:hover {
  width: 20px;
  height: 20px;
  --color4: $social-icon-hover-color4;
  --color2: $social-icon-hover-color2;
}


// ---------------------------- Постійні клієнти ----------------------------

.clients {
  text-align: center;
  background-color:$clients-bg-color;

}
/* .clients- {
} */
.clients-menu {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.clients ul {
  display: flex;
}
.clients h2 {
  margin-top: 94px;
  margin-bottom: 50px;
  color: $clients-h2-color;
  font-size: 36px;
}
.clients-li {
  width: 170px;
  height: 92px;
  flex-shrink: 0;
  margin-right: 30px;
  margin-bottom: 94px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 12px;
}
.clients-li a svg:hover {
  //--color4: $color-clients-li-a-svg;
  --color4:#2196F3;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.clients-li:hover {
  border-color: $color-clients-li-a-svg;
  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  width: 106px;
  height: 60px;
}





/* PORTFOLIO */

