$header-bg-color: #fff;       /* колір фона заголовка */
$header-border-color: #ECECEC; /* header-border-color */
$header-text-color: #333;     /* колір заголовка */
$header-header-item-two-last: #757575;

$primary-color: #2196F3;      /* header-item a:hover */
$content-up-bg-color: #2F303A;     /* посуті те саме header-text-color */
$content-up-color: white;          /* content-up-color */

$button1-bg-color: #007BFF;      /* button1  */
$button1-color: #ffffff;          /* button1  */

$button1-bg-color-hover: #0056b3; /* button1-bg-color-hover */

$services-item-h3-color: #212121;   /* services-item-h3 */
$services-item-a-color: #757575;   /* services-item-a */
$foto-bg-color: #ffffff;      /* Чим займаємось */
$foto-color: #212121;

$social-icon-hover-color4: #ffff;
$social-icon-hover-color2: #ffff;

$fit1: #ffff;
$fit1-bg: rgba(47, 48, 58, 0.80);
$fit2: #ffff;
$fit2-bg: rgba(47, 48, 58, 0.80);
$fit3: #ffff;
$fit3-bg: rgba(47, 48, 58, 0.80);

$my_teams-bg-color: #F5F4FA; /* Наша команда */
$my_team-color: #212121;
$my_teams-p-color: #757575; /* Наша команда */
$my-teams-social-svg-hover-color1: #ffff;
$my-teams-social-svg-hover-color2 :#2196F3;

$my-teams-social-svg-hover-white: #ffff;
$my-teams-social-svg-hover-blue :#2196F3;

$footer-bg-color: #2F303A; /* footer */
$footer-a-bg: rgba(255, 255, 255, 0.1);
$footer-color: white;   /* footer */
$footer-a-bg-color1: rgba(255, 255, 255, 0.10);
$footer-a-bg-color2: #fff;
$footer-icon-color4: #ffff;
$footer-i: #FFF;
$footer-social-a-hover-svg: #2196F3;

$address-a-color: #ffff; /* footer */
$address-a2-color: gray; /* footer */
$blue-color: #007bff;  /* (Web)Studio footer */
$white-color: #ffffff; /* Web(Studio) footer */
$black-color: #000000; /* Web(Studio) header */

$clients-li-ul-hover: #2196F3;
$clients-bg-color: #FFF;

$bg-bnt-intup-email: #2196F3;
$bg-intup-email: #2F303A;
$bnt-intup-email-color: #fff;
$clients-h2-color: #212121;
$color-clients-li-a-svg: #2196F3;

/* PORTFOLIO  */
$button-pt-bg-color: #F5F4FA; /* */
$button-pt-color: #212121;   /* */
$button-pt-hover-bg-color: #2196F3; /* */
$button-pt-hover-color: #FFFFFF; /* */
$my-shop-bg-color: #fff; /* */
$poster-border: #EEEEEE; /* */
$poster-p-color: #757575; /* */
$services-item-icon-color: #F5F4FA;  /* */
$my_teams-li-color: #fff;



$poster-h3: #212121;


